In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

In [3]:
data = pd.read_csv('Diabetes-130-UShospitals/Diabetes_clean.csv')

In [4]:
data = data[['encounter_id', 'patient_nbr', 'race', 'gender', 'age',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_outpatient', 'number_emergency',
       'number_inpatient', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'insulin', 'glyburide.metformin', 'glipizide.metformin',
       'metformin.rosiglitazone', 'metformin.pioglitazone', 'change',
       'diabetesMed', 'diagnose1', 'diagnose2', 'diagnose3','readmitted']]

In [5]:
data.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,glyburide.metformin,glipizide.metformin,metformin.rosiglitazone,metformin.pioglitazone,change,diabetesMed,diagnose1,diagnose2,diagnose3,readmitted
0,1,35808,Caucasian,Female,[80-90),2,1,4,13,68,...,No,No,No,No,Ch,Yes,Circulatory,Circulatory,Neoplasms,NO
1,2,42715,Caucasian,Female,[90-100),3,3,4,12,33,...,No,No,No,No,Ch,Yes,Circulatory,Neoplasms,Respiratory,NO
2,3,32263,Caucasian,Male,[40-50),1,1,7,1,51,...,No,No,No,No,Ch,Yes,Neoplasms,Neoplasms,Diabetes,NO
3,4,55290,AfricanAmerican,Female,[40-50),1,1,7,9,47,...,No,No,No,No,No,Yes,Diabetes,Circulatory,Injury,>30
4,5,49857,Caucasian,Male,[50-60),2,1,2,3,31,...,No,No,No,No,No,Yes,Circulatory,Circulatory,Diabetes,>30

In [18]:
X = data.iloc[:, 2:-1]
Y = data.iloc[:, -1]

In [22]:
X = pd.get_dummies(X)

In [23]:
from scipy.sparse import csc_matrix
test = csc_matrix(X)

In [28]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(["<30", ">30", "NO"])
Y = le.transform(Y)

In [34]:
from sklearn import tree
model = tree.DecisionTreeClassifier(criterion='entropy', max_depth=3)
model.fit(X, Y)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')